.card {
  position: relative;
  box-shadow: 5px 8px 14px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 8px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 8px 14px -5px rgba(0, 0, 0, 0.75);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .card {
    display: block !important;
    width: 20rem !important;
    flex: none !important;
  }
}
